body {
    background: url("sjhs08.xyz_0071.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.box {
    width: 80vw;
    height: 80vh;
    position: absolute;
    background-color: #00000098;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    font-family: NeueMachina-Regular;
    overflow: hidden;
}

.box .forms {
    width: 50%;
    height: 100%;
    background-color: #00000098;
    border-radius: 30px 0 0 30px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.box .forms .tips {
    width: 70%;
    height: 10%;
    box-sizing: border-box;
    font-size: 25px;
    margin: 4vh;
}

.box .forms .tips span {
    margin: 0 10px 0 0;
    cursor: pointer;
    padding-bottom: 5px;
    transition: 0.1s;
    color: rgb(100, 108, 154);
}

.box .forms .tips span:hover {
    border-bottom: 4px solid rgb(249, 177, 122);
    color: #fff;
}

.box .forms .tips .login-btn {
    border-bottom: 4px solid rgb(249, 177, 122);
    color: #fff;
}

.box .forms .login,
.box .forms .register {
    width: 70%;
    top: 20%;
}

.box .forms .login .form-title h1,
.box .forms .register .form-title h1 {
    margin-bottom: 10px;
}

.box .forms .login .form,
.box .forms .register .form {
    margin-top: 3vw;
}

.box .forms .login .form .username::before,
.box .forms .register .form .username::before {
    content: "UserName";
}

.box .forms .login .form .password::before,
.box .forms .register .form .password::before {
    content: "Password";
}

.box .forms .login .form .conform-password::before,
.box .forms .register .form .conform-password::before {
    content: "Conform Password";
}

.box .forms .login .form .input-item,
.box .forms .register .form .input-item {
    width: 100%;
    height: 70px;
    margin: 10px 0;
    transition: 0.5s;
}

.box .forms .login .form .input-item::before,
.box .forms .register .form .input-item::before {
    display: block;
    position: absolute;
    color: rgb(100, 108, 154);
    padding: 10px 5px 1px 20px;
    font-size: 14px;
}

.box .forms .login .form .input-item input,
.box .forms .register .form .input-item input {
    width: 100%;
    height: 100%;
    background-color: rgb(66, 71, 105);
    outline: none;
    border: 0;
    padding: 20px 5px 1px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
}

.box .forms .login .form .input-item input:focus,
.box .forms .register .form .input-item input:focus {
    border-left: 3px solid rgb(255, 187, 124);
}

.box .forms .login .form .Lbtn,
.box .forms .register .form .Lbtn {
    width: 40%;
    height: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(249, 177, 122);
    color: rgb(45, 50, 80);
    margin: 10px 0;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgb(249, 177, 122);
    transition: 0.3s;
    margin-top: 3vw;
    font-family: NeueMachina-Regular;
}

.box .forms .login .form .Rbtn,
.box .forms .register .form .Rbtn {
    width: 40%;
    height: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(249, 177, 122);
    color: rgb(45, 50, 80);
    margin: 10px 0;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgb(249, 177, 122);
    transition: 0.3s;
    margin-top: 3vw;
    font-family: NeueMachina-Regular;
}

.box .forms .login .form .Lbtn:hover,
.box .forms .register .form .Lbtn:hover {
    box-shadow: 0px 0px 15px rgb(249, 177, 122);
}

.box .forms .login .form .Rbtn:hover,
.box .forms .register .form .Rbtn:hover {
    box-shadow: 0px 0px 15px rgb(249, 177, 122);
}

.box .forms .login {
    position: absolute;
    opacity: 1;
    z-index: 10;
    animation: into 1s ease;
}

.box .forms .register {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

@media (max-width: 1024px) {
    .box {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    .box .forms {
        width: 100%;
        border-radius: 0;
    }
}

@keyframes into {
    0% {
        transform: translateY(5vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}